In [1]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!kaggle datasets download -d iammustafatz/diabetes-prediction-dataset

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/iammustafatz/diabetes-prediction-dataset
License(s): copyright-authors
Downloading diabetes-prediction-dataset.zip to /content
  0% 0.00/734k [00:00<?, ?B/s]
100% 734k/734k [00:00<00:00, 401MB/s]

In [2]:
import zipfile
zip = zipfile.ZipFile("/content/diabetes-prediction-dataset.zip",'r')
zip.extractall("/content")
zip.close()

In [4]:
import pandas as pd
df = pd.read_csv("/content/diabetes_prediction_dataset.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0